@model IEnumerable<WebUserPersonaldetailsMVC.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    <a asp-action="Create">Login Page</a>
</p>


@if (ViewBag.OnewRecord != null)
{
    var user = ViewBag.OnewRecord; // Get the user object from ViewBag
    <h3>Login Result:</h3>
    <table class="table">
        <thead>
            <tr>
                <th>UserId</th>
                <th>UserName</th>
                <th>Email</th>
                <!-- Add other relevant columns as needed -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@user.UserId</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <!-- Add other relevant fields as needed -->
            </tr>
        </tbody>
    </table>
}
else{
    <h1>all records</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}