@model IEnumerable<WebApplicationMVC.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vcolor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vprice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vcolor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vprice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.VId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.VId }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.VId })
            </td>
        </tr>
}
    </tbody>
</table>
